
/* FRONT PAGE */
main{
    min-height: 85vh;
}

.start-container{
    min-height: 85vh;
}

.left-right{
    min-height: 65vh;
}

.start-personal{
    min-height: 13vh;
}

.start-tech{
    min-height: 20vh;
}
.start-macro{
    min-height: 33vh;
}

.pairGroup{
    width: 30vh;
}

footer{
    color: rgba(255, 255, 255, 0.55); /*set the same as navbar elements*/
}

.front-page-steps-desc{
    font-size: 24px;
}

.forgotten-password{
    font-size: 14px;
}

.form-label{
    font-size: 1rem;
}
