
/* FRONT PAGE */
main{
    min-height: 85vh;
}

.start-container{
    min-height: 85vh;
}

.left-right{
    min-height: 65vh;
}

.material-icons-query-stats {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 30vh;
}

.material-icons-done {
    color: green;
    font-weight: bold;
    font-size: 3vh;
}

.material-icons-close {
    color: red;
    font-weight: bold;
    font-size: 3vh;
}

.pairGroup{
    width: 30vh;
}

footer{
    color: rgba(255, 255, 255, 0.55); /*set the same as navbar elements*/
}

.front-page-steps-desc{
    font-size: 24px;
}

.forgotten-password{
    font-size: 14px;
}

.form-label{
    font-size: 1rem;
}
